<div class="container max-height">
  <div class="row justify-content-center max-height">
    <div class="col-lg-5  col-md-4 col-sm-12 align-self-center p-4 card">
      <form>
        <div class="row my-3 ">
          <div class="col text-center">
            <i class="fa-solid fa-user user-icon"></i>
            <div class="display-6 text-center pt-4">Forgot Password</div>
          </div>
        </div>
        <!-- Email input -->
        <div class="form-outline mb-4">
          <!-- <label class="form-label" for="form2Example1">Email address</label> -->
          <input type="email" placeholder="Email" id="form2Example1" class="form-control" />
        </div>


        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4 ">

          <div class="col d-flex justify-content-center">
            <!-- Simple link -->I think I remember -
             <a routerLink="/login">Back to Login</a>
          </div>
        </div>

        <!-- Submit button -->
        <div class="row">
        <div class="col-12 d-flex justify-content-center">
        <button type="button" class="btn btn-primary btn-lg login-button btn-block mb-4">Reset Password</button>
        </div>
      </div>
        <!-- Register buttons -->
        <!-- <div class="text-center">
          <p>Not a member? <a href="#!">Register</a></p>
          <p>or sign up with:</p>
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
          </button>

          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-google"></i>
          </button>

          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-twitter"></i>
          </button>

          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-github"></i>
          </button>
        </div> -->
      </form>
    </div>
  </div>
</div>

