/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~@fortawesome/fontawesome-free/css/all.css';

html,

body {

height: 100%;

position: relative;

}




app-root {

min-height: 100%;

display: block;

position: relative;

padding-bottom: 420px; // height of the footer

}

footer {

position: absolute;

bottom: 0;

width: 100%;

}
